<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Main</div>
                <a class="nav-link" href="/admin">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Control</div>

                <a class="nav-link" href="/admin/product">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    재고 관리
                </a>
                
                <a class="nav-link" href="/admin/orders">
                    <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                    주문 관리
                </a>
                <a class="nav-link" href="/admin/box">
                    <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                    토트 관리
                </a>
                <a class="nav-link" href="#">
                    <div class="sb-nav-link-icon"><i class="fas fa-broken-glass"></i></div>
                    파손 상품 관리
                </a>
                <a class="nav-link" href="/admin/worker_control">
                    <div class="sb-nav-link-icon"><i class="fas fa-tasks"></i></div>
                    작업자 관리
                </a>
                
                <div class="sb-sidenav-menu-heading">Function</div>
                <a class="nav-link" href="/admin//trackingNumber">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    송장 번호 조회
                </a>
                <a class="nav-link" href="/admin/chart">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    통계 차트
                </a>
                
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as: </div>
            <%= user.name %>
        </div>
    </nav>
</div>