<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>작업자 페이지 - 집품작업</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="../css/main.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <%- include('topnav_work.ejs')%>
        <div id="layoutSidenav">
            <%- include('sidenav_work.ejs')%>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">리빈 작업</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item active">Rebin</li>
                            </ol>

                            <div class="container">
                                <div class="sidebar">
                                    <h1>1. 토트 바코드를 스캔 또는 입력하세요.</h1>

                                </div>
                                <div class="main-content">
                                    <div class="mb-3">
                                        <div class="custom-center">
                                            <input type="email" class="form-control custom-input" list="boxlist"
                                                id="boxnum" placeholder="토트 번호">
                                            <datalist id="boxlist">
                                                <option value="B000001">
                                                <option value="B000002">
                                                <option value="B000003">
                                                <option value="B000004">
                                                <option value="B000005">
                                                <option value="B000006">
                                                <option value="B000007">
                                                <option value="B000008">
                                                <option value="B000009">
                                                <option value="B000010">
                                            </datalist>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <p>현재 작업대 번호 : <%= workbenchId %></p>
                                    <button id="startbtn" class="btn btn-success">입력 완료</button>
                                </div>
                            </div>


                        </div>
                    </main>
                    <%- include('footer.ejs')%>
                </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
        <script src="../js/scripts.js"></script>
        <script>

            document.getElementById("startbtn").addEventListener("click", function () {
                const workbenchId = document.getElementById("workbench_id").value;

                fetch("/work/workbench-check/" + workbenchId, {
                    method: "GET",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            window.location.href = "/work/rebin2?workbenchId=" + workbenchId;
                        } else {
                            alert(data.message);
                        }
                    });
            });
        </script>
</body>

</html>